<?xml version="1.0"?>
<settings><open_sms_version></open_sms_version><site_name>Any Site Installer</site_name><site_home_keyword></site_home_keyword><site_home_description></site_home_description><site_url>http://localhost:82/AnySiteGenerator/</site_url><opensms_db_type>mysql</opensms_db_type><opensms_db_host>localhost</opensms_db_host><opensms_db_name>anysiteinstaller</opensms_db_name><opensms_table_prefix>open_</opensms_table_prefix><opensms_username>root</opensms_username><opensms_password></opensms_password><opensms_current_theme>default</opensms_current_theme><price_per_unit>1</price_per_unit><unit_per_sms>1.35</unit_per_sms><installation_status>installed</installation_status></settings>
